<div class="schedules-container">
    <div class="jw-schedule jw-section">
        <div class="jw-schedule__header">
            <i class="material-icons">calendar_today</i>
            <h2 appLocalize>AGENDA MEDELLÍN</h2>
        </div>

        <table>
            <thead>
              <tr>
                <th></th>
                <th>
                  <span class="day">19</span>
                  <span class="long">Miércoles</span>
                  <span class="short">Mie</span>
                </th>
                <th>
                  <span class="day">20</span>
                  <span class="long">Jueves</span>
                  <span class="short">Jue</span>
                </th>
                <th>
                  <span class="day">21</span>
                  <span class="long">Viernes</span>
                  <span class="short">Vie</span>
                </th>
                <th></th>
                <th>
                  <span class="day">22</span>
                  <span class="long">Sábado</span>
                  <span class="short">Sab</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="register">
                <td class="hour" rowspan="1"><span>5:00PM</span></td>
                <td>Registro al evento</td>
                <td>Registro al evento</td>
                <td>Registro al evento</td>
                <td class="hour" rowspan="1"><span>8:00AM</span></td>
                <td>Registro al evento</td>
              </tr>
              <tr>
                <td class="hour" rowspan="1"><span>5:30PM</span></td>
                <td><span class="title">Hice mi casa con Scrum, La agilidad de las otras cosas.</span>
                    <span class="speaker">Speaker: Jeid Vásquez</span>
                </td>
                <td><span class="title">
                        Diseño de Equipos con visión E2E
                    </span>
                    <span class="speaker">
                        Speaker: Carlos Andrés Serna
                    </span>
                </td>
                <td>
                    <span class="title">
                            Game of Thrones Leadership
                    </span>
                    <span class="speaker">
                        Speaker:  Juan José Molina
                    </span>
                </td>
                <td class="hour" rowspan="1"><span>8:30AM</span></td>
                <td>
                    <span class="title">
                        Workshop A: El Coaching como herramienta de transformación sistémica
                    </span>
                    <span class="speaker">
                        Trainer: Claudia Toscano y Diana Jiménez
                    </span>
                    <span class="title">
                        Workshop B: Experimenta un flujo de trabajo, la colaboración y el aprendizaje, como bases de la agilidad jugando
                    </span>
                    <span class="speaker">
                        Trainer: Cristian Bermúdez y Juan David Barrera
                    </span>
                </td>
              </tr>
              <tr>
                <td class="hour" rowspan="1"><span>5:50PM</span></td>
                <td>
                    <span class="title">Discovery Kanban</span>
                    <span class="speaker">Speaker: Juan José Muñoz</span>
                </td>
                <td>
                    <span class="title">
                        Hagamos una retrospectiva... ¿distribuida? del dicho al hecho
                    </span>
                    <span class="speaker">
                        Speakers: Leidy Gomez - Juan Camilo Rodríguez
                    </span>
                </td>
                <td>
                    <span class="title">
                        Improvement Kata: Mejora continúa con pequeños pasos
                    </span>
                    <span class="speaker">
                        Speaker: Edwin Güiza
                    </span>
                </td>
                <td class="hour" rowspan="1"><span>10:30AM</span></td>
                <td class="speaker">Break</td>
              </tr>
              <tr>
                <td class="hour" rowspan="1"><span>6:10PM</span></td>
                <td class="speaker">Break</td>
                <td class="speaker">Break</td>
                <td class="speaker">Break</td>
                <td class="hour" rowspan="1"><span>10:45AM</span></td>
                <td>
                        <span class="title">
                        Workshop C: Liderando emocionalmente equipos distribuídos (to be tunned)
                    </span>
                    <span class="speaker">
                        Trainer: Juan Fernando Gaviria - Sebastián Velasquez
                    </span>
                </td>
              </tr>
              <tr>
                <td class="hour" rowspan="1"><span>6:30PM</span></td>
                <td>
                    <span class="title main-talk">
                    Main talk: El Reto - Vegetariano... y el agilismo?.
                    </span>
                    <span class="speaker">
                        Speaker: Deshy Gasca
                    </span>
                </td>
                <td>
                    <span class="title main-talk">
                        Main talk: Todo lo que habias querido saber sobre Historias de Usuario y no te habías atrevido a preguntar
                    </span>
                    <span class="speaker">
                        Speaker: Jorge Hernan Abad
                    </span>
                </td>
                <td>
                    <span class="title main-talk">
                        Main talk: SAFe: ¿Moda o necesidad?
                    </span>
                    <span class="speaker">
                        Speaker: Sergio Riveros
                    </span>
                </td>
                <td class="hour" rowspan="1"><span>12:00M</span></td>
                <td class="speaker">Cierre</td>
              </tr>
              <tr>
                <td class="hour" rowspan="1"><span>7:30PM</span></td>
                <td class="speaker">Cierre</td>
                <td class="speaker">Cierre</td>
                <td class="speaker">Cierre</td>
              </tr>

            </tbody>
          </table>

        <!-- <div class="jw-schedule__tabs">
            <div role="tablist" aria-label="Agenda">
                <button
                    *ngFor="let day of objectKeys(schedule)"
                    id="{{ day }}"
                    (click)="selectedDay = day"
                    role="tab"
                    attr.aria-controls="{{ day }}-tab"
                    [attr.aria-selected]="selectedDay === day"
                >
                    <span appLocalize>
                    {{ day.slice(0, 3) }}
                    </span>
                    <span class='noMobile' appLocalize>
                        {{ day.slice(3, day.length) }}
                    </span>
                </button>
            </div>
            <app-schedule-content
                [content]="schedule[selectedDay]"
            ></app-schedule-content>
        </div> -->
    </div>




    <div class="jw-schedule jw-section bog">
        <div class="jw-schedule__header">
            <i class="material-icons">calendar_today</i>
            <h2 appLocalize>AGENDA BOGOTÁ</h2>
        </div>

        <table>
            <thead>
                <tr>
                <th></th>
                <th>
                    <span class="day">19</span>
                    <span class="long">Miércoles</span>
                    <span class="short">Mie</span>
                </th>
                <th>
                    <span class="day">20</span>
                    <span class="long">Jueves</span>
                    <span class="short">Jue</span>
                </th>
                <th>
                    <span class="day">21</span>
                    <span class="long">Viernes</span>
                    <span class="short">Vie</span>
                </th>
                <th></th>
                <th>
                    <span class="day">22</span>
                    <span class="long">Sábado</span>
                    <span class="short">Sab</span>
                </th>
                </tr>
            </thead>
            <tbody>
                <tr class="register">
                <td class="hour" rowspan="1"><span>5:00PM</span></td>
                <td>Registro al evento</td>
                <td>Registro al evento</td>
                <td>Registro al evento</td>
                <td class="hour" rowspan="1"><span>8:00AM</span></td>
                <td>Registro al evento</td>
                </tr>
                <tr>
                <td class="hour" rowspan="1"><span>5:30PM</span></td>
                <td><span class="title">Modern Agiles / Heart of Agile</span>
                    <span class="speaker">Speaker: Gabriel Martinez</span>
                </td>
                <td rowspan="2"><span class="title main-talk">
                        Main talk: De dinosaurio a liebre, una reconfiguración del mindset
                    </span>
                    <span class="speaker">
                        Speaker: Andres Rodríguez Rubio
                    </span>
                </td>
                <td>
                    <span class="title">
                            BDD & TDD del dicho al hecho!
                    </span>
                    <span class="speaker">
                        Speaker:  Gustavo Peña - Luz Rozo
                    </span>
                </td>
                <td class="hour" rowspan="1"><span>8:30AM</span></td>
                <td>
                    <span class="title">
                        Workshop A: Diseño de Propuesta de Valor
                    </span>
                    <span class="speaker">Trainer: Luis Alveart</span>
                </td>
                </tr>
                <tr>
                <td class="hour" rowspan="1"><span>5:50PM</span></td>
                <td>
                    <span class="title">Scrum Best Practices</span>
                    <span class="speaker">Speaker: Ricardo Alfonso Samudio</span>
                </td>
                <td>
                    <span class="title">
                            Creación de productos increibles y con alta calidad
                    </span>
                    <span class="speaker">
                        Speaker: Luis Miguel González
                    </span>
                </td>
                <td class="hour" rowspan="1"><span>10:30AM</span></td>
                <td class="speaker">Break</td>
                </tr>
                <tr>
                <td class="hour" rowspan="1"><span>6:10PM</span></td>
                <td class="speaker">Break</td>
                <td class="speaker">Break</td>
                <td class="speaker">Break</td>
                <td class="hour" rowspan="1"><span>10:45AM</span></td>
                <td>
                    <span class="title">
                        Workshop B: SAFe Kinder: Scaled Agile Framework
                    </span>
                    <span class="speaker">Trainer: Mario Monsalve - Sonia Luna</span>
                </td>
                </tr>
                <tr>
                <td class="hour" rowspan="1"><span>6:30PM</span></td>
                <td>
                    <span class="title main-talk">
                        Main talk: The Agile Coaching competency framework
                    </span>
                    <span class="speaker">
                        Speaker: Camilo Velasquez
                    </span>
                </td>
                <td>
                    <span class="title main-talk">
                            Main talk: Abrimos debate: ¿Involucrar o no al usuario final en los desarrollos agile?
                    </span>
                    <span class="speaker">
                        Speaker: Diana Acosta, Felipe Cubillos y Sebastián Urbina
                    </span>
                </td>
                <td>
                    <span class="title main-talk">
                        Main Talk: Deuda Psicológica
                    </span>
                    <span class="speaker">
                        Speaker: Andrés Prieto
                    </span>
                </td>
                <td class="hour" rowspan="1"><span>12:00M</span></td>
                <td class="speaker">Cierre</td>
                </tr>
                <tr>
                <td class="hour" rowspan="1"><span>7:30PM</span></td>
                <td class="speaker">Cierre</td>
                <td class="speaker">Cierre</td>
                <td class="speaker">Cierre</td>
                </tr>

            </tbody>
        </table>

         <!--<div class="jw-schedule__tabs">
            <div role="tablist" aria-label="Agenda">
                <button
                    *ngFor="let day of objectKeys(scheduleBog)"
                    id="{{ day }}-bog"
                    (click)="selectedDay = day"
                    role="tab"
                    attr.aria-controls="{{ day }}-bog-tab"
                    [attr.aria-selected]="selectedDay === day"
                >
                    <span appLocalize>
                    {{ day.slice(0, 3) }}
                    </span>
                    <span class='noMobile' appLocalize>
                        {{ day.slice(3, day.length) }}
                    </span>
                </button>
            </div>
            <app-schedule-content
                [content]="scheduleBog[selectedDay]"
            ></app-schedule-content>
        </div>-->
    </div>
</div>