@import '../../../scss/imports';

.schedules-container{
    text-align: center;
}

.bog{
    .jw-schedule {
        &__header {
            background: $kiwi;
        }
        &__tabs{
            div[role='tablist'] {
                display: flex;
                justify-content: center;
                background: #acda6e;
                color: white;
                font-size: 24px;
                @media screen and (max-width: 730px) {
                    font-size: 18px;
                }
            }
        }
    }
}

.jw-schedule {
    min-width: 320px;
    width: 49%;
    display: inline-block;
    text-align: left;
    @media screen and (max-width: 730px) {
        width: 100%;
    }
    &__header {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: $coral-blue;
        background-position: center center;
        background-size: cover;
        font-family: $grace;
        color:$royal-blue;
        padding: 20px 0;
        & i{
            margin:0 10px;
            font-size: 50px;
            @media screen and (max-width: 500px) {
                font-size: 30px;
            }
        }
        @media screen and (max-width: 730px) {
            height: 100px;
            flex-direction: row;
            padding: 0 26px;
            justify-content: center;
            img {
                height: 44px;
                width: 44px;
            }
        }
        h2 {
            font-size: 36px;
            font-weight: 900;
            line-height: 1.1;
            @media screen and (max-width: 730px) {
                font-size: 24px;
                padding-left: 15px;
            }
        }
    }
    &__tabs {
        background: $wild-sand;
        [role='tab'] {
            color: inherit;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            border: 0;
            background: inherit;
            overflow: visible;
            font-family: $grace;
            font-size: inherit;
            font-weight: 400;
            text-transform: uppercase;
            width: 244px;
            max-width: 20%;
            height: 90px;
            &:hover,
            &:focus,
            &:active {
                outline: 0;
                color: inherit;
            }
            @media screen and (max-width: 730px) {
                height: 60px;
                span.noMobile {
                    display: none;
                }
            }
            &[aria-selected='true'] {
                @media screen and (max-width: 730px) {
                    background: $royal-blue;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 12px;
                    background: $royal-blue;
                    width: 100%;
                }
            }
        }
        div[role='tablist'] {
            display: flex;
            justify-content: center;
            background: $clear-blue;
            color: white;
            font-size: 24px;
            @media screen and (max-width: 730px) {
                font-size: 18px;
            }
        }
    }
}
