
<div class="section-apoio-component">

    <div class="emphasis">
        <app-titulo icone="ion-ios-star-outline" titulo="Patrocina y Organiza"></app-titulo>

        <div class="area sponsor">
            <a href="https://www.globant.com/" target="_blank" title="Globant"><img src="/assets/img/globant-logo.png" alt="Globant"></a>
        </div>
    </div>

    <app-titulo icone="ion-ios-people-outline" titulo="Comunidades participantes"></app-titulo>

    <div class="area">
        <div class="sponsor">
            <a href="https://www.meetup.com/PionerasDevelopers" target="_blank" title="Pioneras">
                <img class="sponsorImg" src="/assets/img/pioneras-logo.png" alt="Pioneras logo">
            </a>
        </div>
        <div class="sponsor">
            <a href="https://www.meetup.com/es-ES/Brodevhood-Medellin/" target="_blank" title="Brodevhood">
                <img class="sponsorImg" src="/assets/img/brodevhood.jpg" alt="Brodevhood">
            </a>
        </div>
        <div class="sponsor">
            <a href="https://medellinjs.org/" target="_blank" title="MedJS">
                <img class="sponsorImg" src="/assets/img/MedJS.png" alt="MedJS">
            </a>
        </div>
        <div class="sponsor">
            <a href="https://www.meetup.com/es/node_co/" target="_blank" title="Node Colombia">
                <img class="sponsorImg" src="/assets/img/nodeco.jpg" alt="Node Colombia">
            </a>
        </div>
    </div>

    <app-titulo icone="" titulo="Voluntarios"></app-titulo>

    <div class="area">

        <picture class="foto" *ngFor="let vol of voluntarios">
            <img src="{{vol.picture}}" alt="Foto de {{vol.name}}" />
            <span class="vol-desc">
                {{vol.name}}
            </span>
        </picture>

    </div>


</div>
