<div class="section-apoio-component">
    <div class="bg-gray">
        <div class="jw-sponsor__header">
            <i class="material-icons">star_border</i>
            <h2 appLocalize>Patrocina y organiza</h2>
        </div>
        <div class="section-content">
            <div>
                <a
                    class="globant-logo"
                    href="https://www.globant.com/"
                    target="_blank"
                    title="Globant"
                    ><img src="/assets/img/globant-logo.png" alt="Globant"
                /></a>
            </div>
        </div>
    </div>
    <div>
        <div class="jw-communities__header">
            <i class="material-icons">group</i>
            <h2 appLocalize>Comunidades Participantes</h2>
        </div>
        <div class="section-content">
            <div class="jw-communities">
                <!-- <a
                    href="https://www.meetup.com/PionerasDevelopers"
                    target="_blank"
                    title="Pioneras"
                >
                    <img
                        class="sponsorImg"
                        src="/assets/img/pioneras-logo.png"
                        alt="Pioneras logo"
                    />
                </a> -->
                <a
                    href="https://www.meetup.com/es-ES/Brodevhood-Medellin/"
                    target="_blank"
                    title="Brodevhood"
                >
                    <img
                        class="sponsorImg"
                        src="/assets/img/brodevhood.jpg"
                        alt="Brodevhood"
                    />
                </a>
                <!-- <a href="https://medellinjs.org/" target="_blank" title="MedJS">
                    <img
                        class="sponsorImg"
                        src="/assets/img/MedJS.png"
                        alt="MedJS"
                    />
                </a> -->
                <!-- <a
                    href="https://www.meetup.com/es-ES/node_co/"
                    target="_blank"
                    title="NodeCO"
                >
                    <img
                        class="sponsorImg"
                        src="/assets/img/nodeco.jpg"
                        alt="NodeCO"
                    />
                </a> -->
            </div>
        </div>
    </div>
    <div class="bg-gray">
        <div class="jw-volunteers__header">
            <i class="material-icons">emoji_people</i>
            <h2 appLocalize>Voluntarios</h2>
        </div>
        <div class="section-content">
            <div class="jw-volunteers">
                <picture class="jw-volunteer" *ngFor="let vol of voluntarios">
                    <img
                        class="jw-volunteer__photo"
                        src="{{ vol.picture }}"
                        alt="Foto de {{ vol.name }}"
                    />
                    <span class="jw-volunteer__name">
                        {{ vol.name }}
                    </span>
                </picture>
            </div>
        </div>
    </div>
</div>
