<div class="section-top-component">
    <div class="main-bar"></div>
    <div class="main-top">
        <div class="main-top-container">
            <div class="main-subject">
                <img
                    class="main-subject-img"
                    src="../../../assets/img/AgileWeekLogo.png"
                />
            </div>
            <div class="main-details">
                <div class="main-details-date-container">
                    <h3 class="main-details-date">
                        <span
                            class="date-range"
                        >
                        Una semana de charlas sobre metodologías ágiles.
                        <br><br>
                            <b class="date-range-number">19</b>
                            <span class="date-month">al </span>
                            <b class="date-range-number">22</b>
                        </span>
                        <span class="date-month">de Febrero del </span>
                        <b class="date-range-number">2020</b>
                        <br><br>
                        <span>
                            <b>Bogotá: </b>Globant Salitre
                            Avenida el Dorado 69b-45, piso 4
                        </span>
                        <br><br>
                        <span>
                            <b>Medellín: </b>Globant Vizcaya Business Center
                            Calle 10 #32-115 Local 123A

                        </span>
                    </h3>
                </div>
                <div class="main-details-bottom">
                    <div class="main-details-register">
                        <div class="main-details-register-button">
                            <a
                                class="jw-btn"
                                href="https://www.eventbrite.com/e/globant-agile-week-medellin-tickets-90202719763"
                                target="_blank"
                                appLocalize
                                >¡Quiero Asistir! (Medellín)</a
                            >
                        </div>
                    </div>

                    <!-- <div class="main-details-register">
                        <div class="main-details-register-button">
                            <a
                                class="jw-btn"
                                href="https://www.eventbrite.com/e/development-week-edicion-bogota-agile-tickets-81991325261"
                                target="_blank"
                                appLocalize
                                >¡Quiero Asistir! (Bogotá)</a
                            >
                        </div>
                    </div>-->



                    <!-- <div class="main-details-conduct">
                        <a
                            class="conduct-link"
                            href="http://jsconf.com/codeofconduct.html"
                            target="_blank"
                            appLocalize
                            >Código de conducta</a
                        >
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
