<div>
    <h4 class="mobileTitle">
        <i class="icon ion-ios-location-outline"></i>
        Centro de negocios One Plaza
    </h4>
    <div class="mobileSubtitle">
        Av. El Poblado #5A 113, Medellín, Antioquia
    </div>
    <div class="section-mapa-component" [style.background-image]="trust('../../../assets/img/mapa.png')">

        <div class="area row">
            <div class="box">

                <h4>
                    <i class="icon ion-ios-location-outline"></i>
                    Centro de negocios One Plaza
                </h4>

                <p>
                    Av. El Poblado #5A 113, Medellín, Antioquia<br>
                </p>
                <!--
                <p>
                    <i class="icon ion-android-call"></i> <span>+57 310 8312734</span>
                </p>
                -->

            </div>
            <div class="vazio"></div>
        </div>

    </div>

</div>
