
<div class="jw-map__header">
    <i class="material-icons">map</i>
    <h2 appLocalize>Ubicación Medellín</h2>
</div>
<div
    class="section-mapa-component"
    [style.background-image]="trust('../../../assets/img/map.png')"
>
    <div class="area row">
        <div class="box">
            <h4>Vizcaya Business Center</h4>
            <p>Calle 10 #32-115 Local 123A, Medellín, Colombia</p>
        </div>
    </div>
</div>

<div class="jw-map__header">
        <i class="material-icons">map</i>
        <h2 appLocalize>Ubicación Bogotá</h2>
    </div>
    <div
        class="section-mapa-component"
        [style.background-image]="trust('../../../assets/img/map-bog.png')"
    >
        <div class="area row">
            <div class="box">
                <h4>Globant Salitre</h4>
                <p>Avenida el Dorado 69b-45, piso 4, Bogotá, Colombia</p>
            </div>
        </div>
    </div>
