@import '../../../scss/imports';

.section-mapa-component {
    @extend %cover;
    @extend %flex-center-center;
    //background-image: url(./../../../assets/img/mapa.jpg);
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.95);
    @media screen and (max-width: 730px) {
    }
    .area {
        width: 95%;
        max-width: 85%;

        .box {
            width: 40%;
            padding: 2.5em;
            background-color: rgba(255, 255, 255, 1);

            h4 {
                @extend %flex-center-left;
                //margin: 0 0 1em;
                color: $royal-blue;
                font: {
                    size: 36px;
                    weight: 900;
                }
            }

            p {
                @extend %flex-center-left;
                color: $royal-blue;
                font: {
                    size: 24px;
                    weight: normal;
                }
                margin: 1em 0 0;

                i {
                    margin-right: 0.3em;
                }
            }
        }

        .vazio {
            width: 60%;
        }
    }
}

.jw-map {
    &__header {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: $royal-blue;
        background-position: center center;
        background-size: cover;
        font-family: $grace;
        color:$kiwi;
        text-transform: uppercase;
        padding: 20px 0;
        & i{
            margin:0 10px;
            font-size: 50px;
            @media screen and (max-width: 500px) {
                font-size: 30px;
            }
        }
        @media screen and (max-width: 730px) {
            height: 100px;
            flex-direction: row;
            padding: 0 26px;
            justify-content: center;
        }
        h2 {
            font-size: 36px;
            font-weight: 600;
            line-height: 1.1;
            @media screen and (max-width: 730px) {
                font-size: 24px;
                padding-left: 15px;
            }
        }
    }
}

@media screen and (max-width: 1288px) {
    .section-mapa-component {
        .area {
            .box,
            .vazio {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .section-mapa-component {
        height: 65vh;

        .area {
            .box {
                width: 60%;
            }
            .vazio {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .section-mapa-component {
        .area {
            .box {
                font-size: 0.8em;
                width: 100%;
                margin-top:30px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .section-mapa-component {
        .area {
            max-width: 100%;
            .box {
                font-size: 0.6em;
            }
        }
    }
}
