<div class="jw-schedule-event">
    <time
        class="jw-schedule-event__date heading-lg c-coral"
        [class.c-silver]="event.type === 'break'"
        appLocalize
    >
        {{ event.date }}
    </time>
    <div class="jw-schedule-event__info">
        <h3
            [ngClass]="{ 'jw-schedule-event__break': event.type === 'break' }"
            appLocalize
        >
            {{ event.title }}
        </h3>
        <p class="jw-schedule-event__info__subtitle" *ngIf="event.subtitle">
            {{ event.subtitle }}
        </p>
    </div>
</div>
