<div
    class="jw-footer bg-royal"
>
    <h4 class="jw-footer__text" appLocalize>¡No te lo pierdas!</h4>
    <div class="jw-footer__button">
        <a
            class="jw-btn"
            href="https://www.eventbrite.com/e/development-week-edicion-medellin-agile-tickets-81979562077"
            target="_blank"
            appLocalize
        >
            ¡Quiero Asistir! (Medellín)
        </a>
    </div>

    <div class="jw-footer__button">
        <a
            class="jw-btn"
            href="https://www.eventbrite.com/e/development-week-edicion-bogota-agile-tickets-81991325261"
            target="_blank"
            appLocalize
        >
            ¡Quiero Asistir! (Bogotá)
        </a>
    </div>

</div>
