<div class="home-component">
    <app-section-topo></app-section-topo>
    <call-for-proposals></call-for-proposals>
    <!-- <app-section-guests></app-section-guests>
    <app-speakers></app-speakers> -->
    <app-schedule></app-schedule>
    <app-section-mapa></app-section-mapa>
    <app-section-apoio></app-section-apoio>
    <app-section-matriz></app-section-matriz>

    <div class="links-section">
        <p class="poweredby">
            Fork us:
            <a
                class="c-royal"
                href="https://github.com/spiderzelda/agile-week"
                target="_blank"
                >WebApp</a
            >
        </p>
        <p class="mail-item">
            <i class="material-icons">mail</i><span>
                agileweek@globant.com
            </span>
        </p>
    </div>

</div>
