<div class="home-component">
    <app-section-topo></app-section-topo>
    <call-for-proposals></call-for-proposals>
    <app-section-faqs></app-section-faqs>
    <app-section-guests></app-section-guests>
    <app-speakers></app-speakers>
    <app-schedule></app-schedule>
    <app-section-mapa></app-section-mapa>
    <app-section-apoio></app-section-apoio>
    <app-section-matriz></app-section-matriz>


    <div class="links-section">
        <p class="mail-item">
            <i class="material-icons">mail</i><span>
                agileweek@globant.com
            </span>
        </p>
        <div class="social-links">
            <p class="social-icon">
                <a href="https://www.facebook.com/Globant">
                    <i class="fab fa-facebook"></i>
                </a>
            </p>
            <p class="social-icon">
                <a href="https://www.instagram.com/globantpics">
                    <i class="fab fa-instagram"></i>
                </a>
            </p>
            <p class="social-icon">
                <a href="http://www.twitter.com/globant">
                    <i class="fab fa-twitter"></i>
                </a>
            </p>
            <p class="social-icon">
                <a href="http://www.linkedin.com/company/globant">
                    <i class="fab fa-linkedin"></i>
                </a>
            </p>
        </div>
        <p class="poweredby">
                Fork us:
                <a
                    class="c-royal"
                    href="https://github.com/spiderzelda/agile-week"
                    target="_blank"
                    >WebApp</a
                >
            </p>
    </div>

</div>
