<div class="call-for-proposals-component">
    <div class="call-for-proposals-component--question" appLocalize>
        ¿Qué es el Agile Week?
    </div>
    <div class="call-for-proposals-component--text">
        <span>
            Ven a participar de una semana llena de charlas y workshops sobre las últimas tendencias ágiles, donde podrás intercambiar conocimientos y experiencias con expertos apasionados por lo que hacen.
            Tendremos Sessions, Lightning Talks e invitados especiales para las charlas durante la semana y el sábado finalizaremos con workshops. El evento es <b>TOTALMENTE GRATUITO.</b>
        </span>
        <span>
            Estan todos invitados a participar. El evento está dirigido a todos aquellos interesados en aprender, practicar, desarrollar o reforzar sus conocimientos en distintas metodologías ágiles. Expertos coach y reconocidos speakers nos compartirán sus experiencias.
        </span>
    </div>
    <div class="call-for-proposals-component--question" appLocalize>
        ¿Quieres ser parte de este evento?
    </div>
    <div class="call-for-proposals-component--ctaContainer">
        <a href="https://sessionize.com/globant-agile-week-medellin-2019/"
           class="call-for-proposals-component--link" target="_blank" appLocalize>Quiero ser Speaker en Medellín</a>
    </div>
    <div class="call-for-proposals-component--ctaContainer">
        <a href="https://sessionize.com/globant-agile-week-bogota-2019/"
            class="call-for-proposals-component--link" target="_blank" appLocalize>Quiero ser Speaker en Bogotá</a>
    </div>

</div>
